.contanier{
    display: flex;
    background: blue;
}

.contanier div{
    background-color: cadetblue;
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    height: 50px;
}

.contanier div:nth-child(1){
    order: 2;
}
.contanier div:nth-child(2){
    order: 3;
}
.contanier div:nth-child(3){
    order: 0;
    align-self: center;
}
.contanier div:nth-child(4){
    order: 1;
}
.contanier{
    flex-direction: column;
}
.contanier div:nth-child(1){
    flex-grow: 4;
}
.contanier {
    flex-wrap: wrap-reverse;
}
.contanier{
    justify-content: space-evenly;
    height: 300px;
    align-items: center;
    align-content: flex-end;
}
